.home{
    background-color: #E8E8E8;
    min-height: 100vh;
}

.home-cont{
    background-color: #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home-head{
    max-width: 90%;
}

.home-para{
    margin-top: 20px;
    max-width: 90%;
}

.home-buttons{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    width: 90%;
    justify-content: space-between;
}

#home-img{
    width:60%;
}

@media (max-width:800px){

    .home-cont{
        margin-top: 80px;
        flex-direction: column-reverse;
    }

    .home-head{
        margin-top: 40px;
    }
    
    #home-img{
        width:70%
    }
}

@media(min-width:1500px){
    .home-buttons{
        margin-top: 40px;
    }
}